<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning,ProtectedPermissions"
    package="com.dinodevs.greatfitwatchface">

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.huami.watch.watchface.WatchfaceApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:allowBackup="false">
        <!-- Mainface -->
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.dinodevs.greatfitwatchface.settings.Settings" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- <activity android:launchMode="singleTask" android:name="com.huami.watch.watchface.custom.ui.WatchFaceCustomActivity"/> -->
        <service android:name="com.dinodevs.greatfitwatchface.GreatFitSlpt"/>
        <service android:name="com.dinodevs.greatfitwatchface.GreatFit" android:label="@string/watch_face" android:permission="android.permission.BIND_WALLPAPER">
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/custom_watch_face" />
            <meta-data android:name="com.google.android.wearable.watchface.preview" android:resource="@drawable/preview" />
            <meta-data android:name="com.google.android.wearable.watchface.preview_circular" android:resource="@drawable/preview" />
            <meta-data android:name="com.huami.watch.watchface.hasslpt" android:value="false" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <!--
            Here you can copy-paste the above code (under "Mainface") to add a second watch face
        -->
        <activity android:name="com.dinodevs.greatfitwatchface.settings.ColorActivity"/>
        <activity android:name="com.dinodevs.greatfitwatchface.settings.FontActivity"/>
        <activity android:name="com.dinodevs.greatfitwatchface.settings.OthersActivity"/>
        <activity android:name="com.dinodevs.greatfitwatchface.settings.WidgetsActivity"/>
        <activity android:name="com.dinodevs.greatfitwatchface.settings.ProgressWidgetsActivity"/>
        <activity android:name="com.dinodevs.greatfitwatchface.settings.LanguageActivity"/>

        <receiver android:name="com.dinodevs.greatfitwatchface.widget.AlarmReceiver"/>
    </application>

</manifest>
